header {
	background: url('../img/header/header-bg-1.jpg') right top no-repeat;
	img {
		max-width: 100%;
		height: auto;
	}

}
.bg-text-1 {
	position: absolute;
	left: 0;
	top: 735px;
	z-index: -1;

	 img {
	 	max-width: 100%;
		height: auto;
	 }
	
}
.bg-text-2 {
	position: absolute;
	left: 0;
	top: 1425px;
	z-index: -1;

	 img {
	 	max-width: 100%;
		height: auto;
	 }
	
}
.dream-life-block {
	padding-top: 45px;
	display: flex;
	justify-content: space-between;


}
.dream-life__prof {
	padding-top: 366px;
}

.text {
	&-profile {
		padding-top: 90px;


	}

	&__title {
		color: #9D9E9E;
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 700;

	}
	&__subtitle {
		color: #debe87;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
	}
	&__paragraph {
		color: #9D9E9E;

		
	}
}

.header-img {
	box-shadow: -4px -3px 18px 2px rgba(217,217,217,1);

}
#img-header-2 {
	padding-top: 30px;
}
#an-container-2 {
	max-width: 800px;
}
#header__title2 {
	padding-top: 115px;
}
.header-text_animated {
	
	animation-duration: 2s;
	animation-name: textwww;
	z-index: 1;
}
.animated-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.black-box {
	position: absolute;
	top: 20px;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	  animation-duration: 2s;
	  animation-name: boxwww;
	  z-index: 2;

	
	
}
@keyframes textwww {
  from {
    opacity: 0;
  }
50% {
	opacity: 0;
}
  to {
  	
   opacity: 1;
  }
}
@keyframes boxwww {
  from {
    background: #000;
    transform: translateX(-100%);
    overflow: hidden;
  }
70% {
	background: #000;
}
  to {
  	
   transform: translateX(130%);
background: #000;
  }
}


.animated-wrap {
	padding-top: 33px;
}
.main-header {

	&__title {
		color: #9e9f9f;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 35px;
		margin: 1px;
	}
}
.title__mini {
	color: #debe87;
	font-weight: 700;

}

#last-header-img {
	padding-bottom: 170px;
}
#last-head-animated {
	padding-top: 90px;
}
@media (max-width: 1047px) {
	.container {
		width: 100%;
		padding: 0 20px;

	}
}
@media (max-width: 896px) {
	.bg-text-1 {
		top: 900px;
	}
	.bg-text-2 {
		top: 1560px;
	}
	.dream-life__prof {
	padding-top: 200px;
	}
	.dream-life-block {
		width: 100%;
	
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
	#last-dream-life-block {
		display: flex;
		flex-direction: column-reverse;
		
	}
	.img-wrap {
		width: 100%;
		display: flex;
		justify-content: center;
		
	}
	.text-wrap {
		max-width: 620px;
		margin: 0 auto;
	}
	.animated-wrap {
		width: 100%;
		

	}
}
#text-width-1 {
	max-width: 580px;
}
@media (max-width: 800px) {
	.bg-text-1 {
		top: 900px;
	}
	.bg-text-2 {
		top: 1600px;
	}
}
@media (max-width: 795px) {
	.bg-text-2 {
			top: 1610px;
		}
}
@media (max-width: 788px) {
	.bg-text-2 {
			top: 1610px;
		}
}
@media (max-width: 529px) {
	.bg-text-1 {
		top: 1000px;
	}
	.bg-text-2 {
		top: 1610px;
	}
}